body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

/* Transición para ocultar el splash-screen */
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

#splash-screen{
    position: relative; 
    height: 100vh;
    background-image: url("../images/splash-screen3.png");
    background-size: cover;
}

@font-face {
    font-family: "ButtonTipo"; 
    src: url("../images/tipo2.ttf") format("truetype"); /* Ruta de la tipografía y formato */
  }

#splash-screen h1 {
    position: absolute; 
    top: 5%; 
    right: -3%; 
    width: 40%;
    padding: 10%;
    color: #a27026; 
    font-size: 33px; 
  }

#splash-screen p {
    position: absolute; 
    top: 20%; 
    right: -3%;
    width: 40%;
    padding: 10%;
    color: #a27026; 
    font-size: 33px; 
    
}


#start-btn, #restart-btn-gameover, #restart-btn-youwon {
    background-color :#dce7f8;
    color:#dec153;
    padding: 10px;
  font-size: 30px;
  margin-top: 400px;
  border-radius: 100px; 
  font-family: "ButtonTipo"
}

#game-screen {
    background-image: url("../images/game-box2.png");
    /* background-image: url("../images/trifuerzas4.png"); */
    /* background-color: 
    #153126; */
    background-size: cover;
}

/* .score {
    display: flex;
    justify-content: right;
    margin: 0px;

    background-color: transparent;
    color: yellow;
    padding: 40px;
    font-size: 30px;
}

.time-left {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0px;

    background-color: transparent;
    color: green;
    padding-top: 0px;
    padding-right: 40px;
    font-size: 30px;
    margin-top: 0px;
} */

.container {
    display: flex;
    width: 100%; 
    height: 100vh; /* Ajustar la altura para ocupar toda la pantalla */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0; /* Eliminar los márgenes para ocupar toda la pantalla */
    padding: 0; /* Eliminar el padding para ocupar toda la pantalla */
    overflow: hidden; /* Para evitar que haya barras de desplazamiento */
}

  #game-box {
    background-color: darkgray;
    width:900px;
    height:500px;
  
    /* default settings for game box */
    /* overflow: hidden; */
    /* this will prevent element from been visible outside the game box */
    position: relative; /* this will allow elements to be positioned relative to the game-box */
    user-select: none; /* this will prevent elements from being highlighted */
  
    background-image: url("../images/game-box.jpg");
    background-position: center;
    background-size: cover;
  
  }


  #gameover-screen {
    position: absolute; /* Establecemos el posicionamiento relativo para el contenedor */
    background-image: url("../images/game-box2.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #gameover-screen h1 {
    position: relative;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -30px;
    color: red;
    border-color: black;
    border-radius: 10%;
  }
  
  #gameover-screen p {
    display: flex;
    position: relative;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top:28%;
  }
  
  #gameover-screen h2 {
    display: flex;
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
    top: 33%;
  }

  #gameover-screen h3 {
    display: flex;
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
    top: 36%;
  }
  
  #restart-btn-gameover {
    display: flex;
    margin-top: -100px;
    font-size: 24px;
    padding: 10px 20px;
    background-color: blanchedalmond;
    color: blue;
    border-radius: 10px;
    cursor: pointer;
    /* top: 20%; */
  }


  #youwon-screen {
    background-image: url("../images/game-box2.png");
    /* background-image: url("../images/trifuerzas4.png"); */
    /* background-color: 
    #153126; */
    background-size: cover;
  }

  /* #youwon-screen h1 {
    position: relative;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    top: 20%;
    color: yellow;
    border-color: black;
    border-radius: 10%;
  } */

  #youwon-screen h2 {
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
    top: 50%;
  }

  #restart-btn-youwon {
    font-size: 24px;
    padding: 10px 20px;
    background-color: blanchedalmond;
    color: blue;
    border-radius: 10px;
    cursor: pointer;
    top: 30%;
  }


  
#game-screen, #gameover-screen, #youwon-screen {
    display: none;
  } 
